<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waverly.jadcoffer.mapper.BookMapper">
    <select id="getAllBooks" resultType="com.waverly.jadcoffer.pojo.entity.Book">
        select jb.*,user_id, name, file_name, file_size, cover, url_path, cache_path, mime_type, file_type, create_time, update_time, tag_ids from jadcoffer.book jb
            join jadcoffer.file jf on jb.file_id = jf.file_id
    </select>
</mapper>